<div class="sidebar">
  <h2>PlanIT</h2>
  <a href="/">My Events</a>

  <a href="/dashboard/<%= eventId %>">Dashboard</a>
  <a href="/budget/<%= eventId %>">Budget</a>
  <a href="/guests/<%= eventId %>">Guests</a>
  <a href="/tasks/<%= eventId %>">Tasks</a>
  <a href="/moodboard/<%= eventId %>">Moodboard</a>
  <a href="/edit-event/<%= eventId %>">Edit Event</a>
</div>